In [ ]:
# Keys

In [47]:
d = {'key1':'value', 'key2':123}

In [5]:
d['key2']

123

In [6]:
d = {'k1':[1,2,3]}

In [7]:
d

{'k1': [1, 2, 3]}

In [10]:
my_list = d['k1'][2]

In [11]:
my_list

3

In [12]:
d = {'k1':{'innerkey':[1,2,3]}}

In [16]:
d['k1']['innerkey'][1]

2

In [17]:
True

True

In [18]:
False

False

In [19]:
my_list = [1,2,3]

In [46]:
my_list[0]

'NEW'

In [ ]:
# Tuple

In [21]:
t = (1,2,3)

In [22]:
t[0]

1

In [23]:
my_list[0] = 'NEW'

In [24]:
my_list

['NEW', 2, 3]

In [25]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [45]:
# Tuple is immutable, whilst a list is mutable

In [ ]:
# Set

In [27]:
{1,2,3}

{1, 2, 3}

In [28]:
{1,2,3}

{1, 2, 3}

In [29]:
{1,1,1,2,2,2,3,3,3}

{1, 2, 3}

In [30]:
set([1,2,2,1,1,1,2,3,3,3,2,2,2])

{1, 2, 3}

In [31]:
s = {1,2,3}

In [32]:
s.add(5)

In [33]:
s

{1, 2, 3, 5}

In [34]:
s.add(5)

In [35]:
s

{1, 2, 3, 5}

In [38]:
# Set boils down a set of symbols to a unique digit

In [39]:
ss = {'a', 'a', 'b','a','b'}

In [44]:
ss

{'a', 'b'}

In [ ]:
# Comparison

In [41]:
1>2

False

In [48]:
1 < 2

True

In [49]:
1 >= 2

False

In [50]:
1 <= 2

True

In [51]:
1 == 1

True

In [52]:
1 == 2

False

In [54]:
1 != 3

True

In [55]:
1 != 1

False

In [57]:
'hi' != 'bye'

True

In [61]:
(1 < 2) and (2 > 3)

False

In [64]:
1 < 2 or 2 > 3

True

In [65]:
# IF and ELSE statements

In [66]:
if 1 < 2:
    print('yep')

yep

In [69]:
if True:
    x = 2+2

In [70]:
x

4

In [78]:
if 1 == 2:
    print('First')
elif 3 != 3:
    print('Middle')
elif 4 == 4:
    print('Second Middle')
else:
    print('Last')

Second Middle

In [1]:
# FOR loops

In [2]:
seq = [1,2,3,4,5]

In [5]:
for jelly in seq:
    print('jelly')

jelly
jelly
jelly
jelly
jelly

In [6]:
# WHILE loop

In [7]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [8]:
# RANGE

In [28]:
for x in seq:
    print(x)

1
2
3
4
5

In [29]:
range(0,3)

TypeError: 'range' object is not callable

In [30]:
del range

In [38]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
# LIST COMPREHENSION

In [1]:
x = [1,2,3,4]

In [35]:
out = []

In [36]:
for num in x:
    out.append(num**2)

In [37]:
print(out)

[1, 4, 9, 16]

In [2]:
out = [num**2 for num in x]

In [3]:
out

[1, 4, 9, 16]

In [42]:
# FUNCTIONS

In [55]:
def my_func(name='ERROR: no name received'):
    print('Hello ' + name)

In [58]:
my_func()

Hello ERROR: no name received

In [62]:
def square(num):
    """
    THIS IS A DOCSTRING.
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER.
    """
    return num**2

In [63]:
output = square(2)

In [8]:
output

NameError: name 'output' is not defined

In [ ]:
# MAP FUNCTION

In [6]:
def times2(var):
    return var*2

In [7]:
times2(5)

10

In [9]:
seq = [1,2,3,4,5]

In [10]:
out = [e*2 for e in seq]

In [11]:
out

[2, 4, 6, 8, 10]

In [12]:
map(times2, seq)

In [13]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [14]:
out = list(map(times2, seq))

In [15]:
out

[2, 4, 6, 8, 10]

In [17]:
t = lambda var:var*2

In [18]:
t(3)

6

In [19]:
seq = [1,2,3,4,5]

In [20]:
map(lambda e:e*3,seq)

In [21]:
list(map(lambda e:e*3,seq))

[3, 6, 9, 12, 15]

In [22]:
out = list(map(lambda e:e*3,seq))

In [23]:
out

[3, 6, 9, 12, 15]

In [1]:
# FILTER FUNCTION

In [25]:
filter(lambda e:e%2 ==0, seq)

In [ ]:
# In general, whem mapping and filtering, you need to cast it to a list.

In [26]:
list(filter(lambda e:e%2 ==0, seq))

[2, 4]

In [37]:
out = list(filter(lambda e:e <= 1, seq))

In [38]:
out

[1]

In [2]:
# METHODS

In [3]:
s = 'hello my name is Marcio'

In [4]:
s.lower()

'hello my name is marcio'

In [5]:
s.upper()

'HELLO MY NAME IS MARCIO'

In [6]:
s.split()

['hello', 'my', 'name', 'is', 'Marcio']

In [7]:
tweet = "Go Sports! #Sports"

In [8]:
tweet.split()

['Go', 'Sports!', '#Sports']

In [12]:
tweet.split('#')[0]

'Go Sports! '

In [13]:
d = {'k1': 1, 'ke': 2}

In [14]:
d

{'k1': 1, 'ke': 2}

In [15]:
d.keys()

dict_keys(['k1', 'ke'])

In [16]:
d.items()

dict_items([('k1', 1), ('ke', 2)])

In [17]:
d.values()

dict_values([1, 2])

In [19]:
lst = [1,2,3]

In [20]:
lst.pop()

3

In [21]:
lst

[1, 2]

In [22]:
lst = [1,2,3,4,5]

In [23]:
item = lst.pop()

In [24]:
item

5

In [25]:
lst

[1, 2, 3, 4]

In [26]:
lst.pop(0)

1

In [27]:
lst

[2, 3, 4]

In [29]:
lst.append('new')

In [30]:
lst

[2, 3, 4, 'new']

In [31]:
'x' in [1,2,3]

False

In [32]:
'x' in ['x', 'xy', 'z']

True

In [33]:
'x' in ['xe', 'xy', 'z']

False

In [ ]:
# Tuple unpacking

In [34]:
x = [(1,2), (3,4), (5,6)]

In [38]:
x[0]

(1, 2)

In [36]:
x[1]

(3, 4)

In [37]:
x[0][1]

2

In [45]:
 for e in x:
        print(e)

(1, 2)
(3, 4)
(5, 6)

In [47]:
x[0] + x[1]

(1, 2, 3, 4)

In [52]:
for (a,b) in x:
    print(a)

1
3
5

In [53]:
for(a,b) in x:
    print(b)

2
4
6

In [54]:
for a,b in x:
    print(a*3)

3
9
15

In [55]:
for a,b in x:
    print(a, b)

1 2
3 4
5 6

In [58]:
list1 = []
list2 = []

for a,b in x:
    list1.append(a)
    list2.append(b)
print(list1)
print(list2)

[1, 3, 5]
[2, 4, 6]